@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
  font-size: 10px;
  --primary-color: #fff2b3;
  --secondary-color: #98f2e1;
  --dark-color: #124c5f;
  --light-color: #f6fffd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", "sans-serif";
}

body {
  background-color: var(--light-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}