@charset "utf-8";

header {
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#menu {
  cursor: pointer;
  display: flex;
  gap: 3.2rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#menu a:hover {
  background-color: var(--secondary-color);
  border-radius: 0.3rem;
  transition: 0.5s;
}
