@charset "utf-8";

.all-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.each-service {
  margin-top: 7rem;
  width: 20rem;
  height: 20rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.each-service p {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.each-service:nth-child(odd) {
  border: 5px solid var(--secondary-color);
}

.each-service:nth-child(even) {
  border: 5px solid var(--primary-color);
}
